<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelead.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Tinder de Mascotas - Login</title>
  <link rel="icon" type="image/x-icon" href="../../../../../../startbootstrap-one-page-wonder-gh-pages/startbootstrap-one-page-wonder-gh-pages/assets/favicon.ico" />
  <!-- Bootstrap core CSS-->
  <link href = "/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
  <!-- Custom styles for this templates-->
  <link href="/css/one-page-wonder.min.css" rel="stylesheet" />
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="/">Tinder de Mascotas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/register">Registro</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="masthead text-center text-white" style="padding: 100px 0;">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Tinder de Mascotas</h1>
      <h2 class="masthead-subheading mb-0">Encontrale pareja a tu mascota.</h2>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="../../../../../../startbootstrap-one-page-wonder-gh-pages/startbootstrap-one-page-wonder-gh-pages/assets/img/01.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Registrate en Tinder!</h2>
          <!--multipart lo usamos para decir q recibe un archivo-->
          <form action="/usuario/registrar" method="POST" enctype="multipart/form-data">

            <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
            <!-- Campo Nombre -->

            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" placeholder="nombre" th:value="${nombre}">


            <!-- Campo Apellido -->

            <label>Apellido</label>
            <input type="text" class="form-control" name="apellido" placeholder="apellido" th:value="${apellido}">


            <!-- Campo Correo Electrónico -->

            <label>Correo Electrónico</label>
            <input type="email" class="form-control" name="mail" placeholder="nombre@ejemplo.com" th:value="${mail}">


            <!-- Campo Foto -->

            <label>Foto</label>
            <input type="file" class="form-control" name="archivo">



            <label>Zona</label>
            <select class="form-control" name="idZona">
              <option th:each="zona : ${zonas}" th:value="${zona.id}" th:text="${zona.nombre}"></option>
            </select>


            <!-- Campo Clave -->

            <label>Clave</label>
            <input type="password" class="form-control" name="clave1" th:value="${clave1}">

            <!-- Campo Clave2 -->

            <label>Repetir la clave</label>
            <input type="password" class="form-control" name="clave2" th:value="${clave2}">

            <!-- Botón de Enviar -->
            <br/><button type="submit" class="btn btn-primary">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-black">
  <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/vendor/jquery/jquery.min.js"></script>
</body>
</html>
